.cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    border: none;
    
}
.cart table img{
    width: 70px;
}
.cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
.cart table td:nth-child(2){
    width: 150px;
    align-items: center;
}
.cart table td:nth-child(3){
    width: 100px;
    text-align: center;
}
.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(5) input{
    border: 1px solid black;
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
.cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
.cart table tbody tr td{
    padding-top: 15px;
}
.cart table tbody td{
    font-size: 13px;
}
.table{
    padding: 0 0 0 0;
    width: 88vw;
    margin: 0 auto;
}
.cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coupan{
    width: 50%;
    margin-bottom: 30px;
}
.coupan h3,
.subtotal h3{
    padding-bottom: 10px;
}
.coupan input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
.coupan button,
.subtotal button{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}
.subtotal{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 20px;
}
.subtotal table{
    border-collapse: collapse ;
    width: 100%;
    margin-bottom: 20px;
}
.subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.header-2{
    overflow-x: auto;
}