#hero{
    background-image: url('../Assets/main/wallpaper-4.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    padding-top: 12%;
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
    justify-items: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}